name: w4l build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: dAppServer/wails-build-action@v3
        with:
          build-name: whats4linux
          build-platform: linux/amd64
