name: w4l build

on:
  workflow_dispatch:
  
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: wailsTest
            platform: linux/amd64
            os: ubuntu-latest

          - name: wailsTest
            platform: windows/amd64
            os: windows-latest

          - name: wailsTest
            platform: darwin/universal
            os: macos-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Wails app
        uses: dAppServer/wails-build-action@v3
        with:
          build-name: ${{ matrix.name }}
          build-platform: ${{ matrix.platform }}
          build-obfuscate: true
